<!--details.ejs-->

<div class="row">
    <div class="card col-12 col-sm-12 col-lg-12 col-xl-12">
        <h1><%= rental.propertyTitle %></h1>
        <div class="row">
            <img class="img-fluid col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" src="<%= rental.imageURL %>" />
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <ul class="list-group ">
                    <li class="list-group-item"><b>Estate: </b><%= rental.estate %></li>
                    <li class="list-group-item"><b>Gross Area: </b><%= rental.grossArea %> sq feet</li>
                    <li class="list-group-item"><b>Rent: </b>$<%= rental.rent %></li>
                    <li class="list-group-item"><b>Bedrooms: </b><%= rental.bedrooms %></li>
                    <li class="list-group-item"><b>Expected Tenants: </b><%= rental.expectedTenants %></li>
                    <li class="list-group-item"><b>Created: </b><%= rental.createDate %></li>
                    <li class="list-group-item"><b>Updated: </b><%= rental.updateDate %></li>
                </ul>

                <% if (!req.session.username) {%> 
                    <% if(numOfClients != rental.expectedTenants) { %>
                        <form action="/user/login" method="GET">
                            <button type="submit" class="btn btn-primary float-right mt-2">Co-Rent</button>
                        </form>
                    <% } else{ %>
                        <button type="button" class="btn btn-secondary float-right mt-2">Full</button>
                    <% }; %>
                <% } else if (req.session.username != 'admin') { %>
                    <% if (isRented) { %>
                        <form action="/user/<%= rental.id %>/rentedBy/remove/<%= thisUserId %>" method="DELETE" onsubmit="submitForm(this);return false">
                            <button type="submit" class="btn btn-primary float-right mt-2">Move-out</button>
                        </form>
                    <% } else if(numOfClients == rental.expectedTenants) { %>
                        <button type="button" class="btn btn-secondary float-right mt-2">Full</button>
                    <% } else { %>
                    <form action="/user/<%= rental.id %>/rentedBy/add/<%= thisUserId %>" method="POST" onsubmit="submitForm(this);return false">
                        <button type="submit" class="btn btn-primary float-right mt-2">Co-Rent</button>
                    </form>
                    <% }; %>
                <% } else {}; %>

            </div>
        </div>

    </div>
</div>
<br><br><br><br>
</div>

<script>
    async function submitForm(oFormElement){

        if (oFormElement.firstElementChild.innerHTML == 'Co-Rent') {
            var response = await fetch(oFormElement.action, {
            method: 'POST',
            credentials: 'same-origin',
            body: new FormData(oFormElement)
            });
        } else {
            var r = confirm('Confirm Move-out?');
            if (r){
                var response = await fetch(oFormElement.action, {
                method: 'DELETE',
                credentials: 'same-origin',
                body: new FormData(oFormElement)
                });
            } else return;
        };
        
        if (response.ok) {
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            oFormElement.firstElementChild.innerHTML = (oFormElement.firstElementChild.innerHTML == 'Co-Rent')? 'Move-out':'Co-Rent';
            oFormElement.action = data.url;
            
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        };
    };
  
</script>