<%- include('components/nav') %>
<%- include('components/jumbotron') %>

<div class="row">

    <% rentals.forEach( function(model) { %>
    <div class="card col-12 col-sm-6 col-lg-4 col-xl-6">
        <a href="rental/details/<%=  model.id %>"><%= model.propertyTitle %></a>
        <div class="row">
            <img class="img-fluid img-thumbnail col-12 col-sm-6 col-lg-4 col-xl-4" src="<%= model.imageURL %>" />
            <ul class="list-group col-12 col-sm-6 col-lg-8 col-xl-8">
                <li class="list-group-item"><b>Estate: </b><%= model.estate %></li>
                <li class="list-group-item"><b>Gross Area: </b><%= model.grossArea %> sq feet</li>
                <li class="list-group-item"><b>Rent: </b>$<%= model.rent %></li>
            </ul>
        </div>
    </div>
    <% }); %>

</div>
<br>