<!--admin.ejs-->

<% const current = parseInt(req.query.page) || 1; %>
<table class="table">
    <% c = 1 + numOfItemsPerPage * (current - 1) %>
    <% rentals.forEach(function(model) { %>
    <tr>
        <td><%= c %></td>
        <td><a href="/rental/<%= model.id %>"><%= model.propertyTitle %></a></td>
        <td><%= model.estate %></td>
        <td><a href="/rental/occupants/<%= model.id %>">Occupants</a></td>
        <td><a href="/rental/update/<%= model.id %>">Edit</a>></td>
        <td>
            <form action="/rental/<%= model.id %>" method="POST" onsubmit="delRental(this);return false;">
                <button type="submit" class="btn btn-danger">Delete</a>>
            </form>
        </td>
    <tr>
        <%  c += 1; %>
        <%  }); %>
</table>

<!-- Page navigation -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="/rental/admin/?page=<%= Math.max(current-1, 1) %>">Previous</a>
        </li>

        <% for (i = 1; i <= count; i++) { %>
        <li class="page-item">
            <a class="page-link" href="/rental/admin/?page=<%= i %>"><%= i %></a>
        </li>
        <% }; %>

        <li class="page-item">
            <a class="page-link" href="/rental/admin/?page=<%= Math.min(current+1, count) %>">Next</a>
        </li>
    </ul>
</nav>
</div>

<script>

    async function delRental(oFormElement) {

        var r = confirm('Confirm Cancel?');
        if (r) {
            var response = await fetch(oFormElement.action, {
                method: 'DELETE',
                credentials: 'same-origin',
                body: new FormData(oFormElement)
            });
            oFormElement.parentNode.parentNode.remove();
        };
    };

</script>