<!--update.ejs-->

<!-- form for updating -->
<form action="/rental/<%= rental.id %>" method="PUT">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
            <label>Property title:</label>
            <input type="text" class="form-control" name="Rental[propertyTitle]" value="<%= rental.propertyTitle %>"
                required>
        </div>

        <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
            <label>Image URL:</label>
            <input type="text" class="form-control" name="Rental[imageURL]" value="<%= rental.imageURL %>" required>
        </div>

        <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
            <label>estate:</label><br>
            <select class="form-control" name="Rental[estate]" required>
                <% var op_FC = (rental.estate == 'Festival City')? 'Selected':''; %>
                <% var op_TMC = (rental.estate == 'Tin Ma Court')? 'Selected':''; %>
                <% var op_COH = (rental.estate == 'City One Shatin')? 'Selected':''; %>
                <option value>Select estate here</option>
                <option value="Festival City" <%= op_FC %>>Festival City</option>
                <option value="Tin Ma Court" <%= op_TMC %>>Tin Ma Court</option>
                <option value="City One Shatin" <%= op_COH %>>City One Shatin</option>
                
            </select>
        </div>

        <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
            <label>bedrooms:</label>
            <input type="number" class="form-control" name="Rental[bedrooms]" value="<%= rental.bedrooms %>" required
                max="5" min="1">
        </div>

        <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
            <label>Gross Area:</label>
            <input type="number" class="form-control" name="Rental[grossArea]" value="<%= rental.grossArea %>" required>
        </div>

        <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
            <label>Expected Tenants:</label>
            <input type="number" class="form-control" name="Rental[expectedTenants]"
                value="<%= rental.expectedTenants %>" required>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
            <label>rent:</label>
            <input type="number" class="form-control" name="Rental[rent]" value="<%= rental.rent %>" required>
        </div>

        <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
            <% IfChecked = (rental.box == 'highLighted')? 'checked':'' %>
            <input name="Rental[box]" type="checkbox" value="highLighted" <%= IfChecked %>>
            <label>Highlighted Property</label>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<!-- form for deleting -->
<form action="/rental/<%= rental.id %>" method="DELETE">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
            <br>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>

</form>
</div>
<br><br><br>